{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
                <tr>
                    <td>{{ row.type }}</td>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.price | usd }}</td>
                    <td>{{ row.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
